@model VideoOnDemand.Web.Models.SerieViewModel

@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<h1>Series</h1>
<br />
<br />
<div id="serie">
    <div id="serie1">
        <h2>Nombre serie</h2>
        <div id="duracion">
            <h4>Fecha</h4>
        </div>
        <div id="fecha">
            <h4>Duracion</h4>
        </div>
        <h6>Generos: </h6>
    </div>
    <div id="Descripcion">
        <h6>Descripcion: </h6>
    </div>
    <br />
    <div>
        <div id="duracion">
            <input type="submit" value="+ Mi lista" class="btn btn-default" />
        </div>
        <div id="fecha">
            <input type="submit" value="Detalles" class="btn btn-default" />
        </div>
    </div>
    
    </div>

