@model VideoOnDemand.Web.Models.SerieViewModel

@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<h1>Series</h1>
<div id="serie">
    <h2>Nombre serie</h2>
    <h3>Duracion</h3><h2>Fecha</h2>
    <h4>Generos: </h4>
</div>

