@model IEnumerable<VideoOnDemand.Web.Models.MovieViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Películas</h2>

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
@foreach (var item in Model)
{
<div class="form-group">
    <div id="movie">
        <h2>
            @Html.DisplayFor(model => item.nombre)
        </h2>

        <div class="form-group">

            @Html.DisplayFor(model => item.fechaLanzamiento.Value.Year)

            @Html.DisplayFor(model => item.duracionMin)
        </div>
        @{ 
            
        }
        <h4>Generos: </h4>
    </div>
</div>
}
