@model VideoOnDemand.Web.Models.MediaOnPlayViewModel

<h2>@ViewBag.Title</h2>

<div style="text-align:center">
    <video id="vidPlay" width="420">
        <source src="~/Content/Video/videoPrueba.mp4" type="video/mp4" />
        Tu navegador no es compatible con la reproducci&oacute;n de videos.
    </video>
    <br />
    <button id="btnPlayPause" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
    <button id="btnStop" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
    </button>
    <div id="txtCont" style="border: 1px solid; width: 5px; height: 5px"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var vidPlay = document.getElementById("vidPlay");

        $(function () {
            $("#btnPlayPause").click(function () {
                if (vidPlay.paused) {
                    vidPlay.play();
                    document.getElementById("btnPlayPause").innerHTML = "<span class='glyphicon glyphicon-pause' aria-hidden='true'></span>";
                }
                else {
                    vidPlay.pause();
                    document.getElementById("btnPlayPause").innerHTML = "<span class='glyphicon glyphicon-play' aria-hidden='true'></span>";
                }
                
            });
            $("#btnStop").click(function () {
                vidPlay.pause();
                document.getElementById("btnPlayPause").innerHTML = "<span class='glyphicon glyphicon-play' aria-hidden='true'></span>";
                vidPlay.currentTime = 0;
            });

            $("#txtCont").html("<p>" +vidPlay.currentTime+ "</p>");
        });

    </script>
}

