@{
    ViewBag.Title = "Bienvenido/a!";
}

<div class="jumbotron">
    <h1>Bienvenido/a!</h1>
    <p class="lead">Nuestra plataforma de ofrece muchas películas y series!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Péliculas</h2>
        <p>
            Explora nuestro catálogo de películas!
        </p>
        <p><a class="btn btn-default" href="http://localhost:62225/Movie">Ver pel&iacute;culas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Series</h2>
        <p>Explora las series más interesantes</p>
        <p><a class="btn btn-default" href="http://localhost:62225/Serie">Ver series &raquo;</a></p>
    </div>
</div>